In [122]:
import datetime
import numpy as np
import pandas as pd

In [55]:
fecha = datetime.date(2020, 9, 1)
fecha

datetime.date(2020, 9, 1)

In [56]:
hoy = datetime.date.today()
hoy

datetime.date(2024, 8, 20)

In [57]:
datetime.date.fromisocalendar(year = 2020,
                              week = 20,
                              day = 2)

datetime.date(2020, 5, 12)

In [58]:
year_today = hoy.year
year_today

2024

In [59]:
hoy.month

8

In [60]:
hoy.day

20

In [61]:
fecha

datetime.date(2020, 9, 1)

In [62]:
hoy

datetime.date(2024, 8, 20)

In [63]:
fecha < hoy

True

In [64]:
fecha1 = datetime.date(2020, 8, 1)
fecha1

datetime.date(2020, 8, 1)

In [65]:
fecha1.weekday()

5

In [66]:
fecha1.isoweekday()

6

In [67]:
datetime.time(12, 35)

datetime.time(12, 35)

In [68]:
tz_info = datetime.timezone.utc
tz_info

datetime.timezone.utc

In [69]:
hora2 = datetime.time(12, 35, tzinfo = tz_info)
hora2

datetime.time(12, 35, tzinfo=datetime.timezone.utc)

In [70]:
hora = datetime.time.fromisoformat("12:35:40")
hora

datetime.time(12, 35, 40)

In [71]:
hora_3 = datetime.time.fromisoformat("12:35")
hora_3

datetime.time(12, 35)

In [72]:
hora.hour

12

In [73]:
print(hora.tzinfo)

None

In [74]:
hora2.tzinfo

datetime.timezone.utc

In [75]:
hora < hora_3

False

In [76]:
hora2

datetime.time(12, 35, tzinfo=datetime.timezone.utc)

In [77]:
hora2.tzname()

'UTC'

In [78]:
dtime = datetime.datetime(2020, 8, 1, 19, 20, 55)
dtime

datetime.datetime(2020, 8, 1, 19, 20, 55)

In [79]:
dtime2 = datetime.datetime(2020, 8, 1, 19, 20, 55, tzinfo = datetime.timezone.utc)
dtime2

datetime.datetime(2020, 8, 1, 19, 20, 55, tzinfo=datetime.timezone.utc)

In [80]:
datetime.datetime.today()

datetime.datetime(2024, 8, 20, 12, 22, 28, 3689)

In [81]:
ahora = datetime.datetime.now()
ahora

datetime.datetime(2024, 8, 20, 12, 22, 28, 39687)

In [82]:
ahora.year

2024

In [83]:
print(ahora.tzinfo)

None

In [84]:
dtime

datetime.datetime(2020, 8, 1, 19, 20, 55)

In [85]:
dtime2 = datetime.datetime(2020, 8, 2, 19, 20, 55)
dtime2

datetime.datetime(2020, 8, 2, 19, 20, 55)

In [86]:
dtime2 - dtime

datetime.timedelta(days=1)

In [87]:
dtime2 > dtime

True

In [88]:
dtime.time()

datetime.time(19, 20, 55)

In [89]:
dtime.weekday()

5

In [90]:
dtime.isoweekday()

6

In [91]:
tdelta = datetime.timedelta(5, 10)
tdelta

datetime.timedelta(days=5, seconds=10)

In [92]:
momento1 = datetime.datetime(2020, 5, 1)
momento1

datetime.datetime(2020, 5, 1, 0, 0)

In [93]:
momento2 = datetime.datetime(2020, 5, 6)
momento2

datetime.datetime(2020, 5, 6, 0, 0)

In [94]:
tdelta2 = momento2 - momento1
tdelta2

datetime.timedelta(days=5)

In [95]:
tdelta

datetime.timedelta(days=5, seconds=10)

In [96]:
tdelta.days

5

In [97]:
tdelta.seconds

10

In [98]:
tdelta.microseconds

0

In [99]:
tdelta

datetime.timedelta(days=5, seconds=10)

In [100]:
tdelta2

datetime.timedelta(days=5)

In [101]:
result = tdelta == tdelta2 
result

False

In [102]:
tdelta

datetime.timedelta(days=5, seconds=10)

In [103]:
tdelta.total_seconds()

432010.0

In [104]:
dtime1 = np.datetime64("2020-08-01")
dtime1

numpy.datetime64('2020-08-01')

In [105]:
np.datetime64("2020-08")

numpy.datetime64('2020-08')

In [106]:
np.datetime64("2020-08", "D")

numpy.datetime64('2020-08-01')

In [107]:
np.datetime64("2020-08-01T10:59")

numpy.datetime64('2020-08-01T10:59')

In [108]:
import datetime
datetime.date(2020,8,1)

datetime.date(2020, 8, 1)

In [109]:
np.datetime64("2020-08-01")

numpy.datetime64('2020-08-01')

In [110]:
np.array([np.datetime64("2020-08-01"),
         np.datetime64("2020-08-02"),
         np.datetime64("2020-08-03")])

array(['2020-08-01', '2020-08-02', '2020-08-03'], dtype='datetime64[D]')

In [111]:
np.array(["2020-08-01", "2020-08-02", "2020-08-03"], dtype='datetime64[m]')

array(['2020-08-01T00:00', '2020-08-02T00:00', '2020-08-03T00:00'],
      dtype='datetime64[m]')

In [112]:
np.array(["2020-08-01T10:59", "2020-08-02T11:22:24", "2020-08-03T12"], dtype='datetime64')

array(['2020-08-01T10:59:00', '2020-08-02T11:22:24',
       '2020-08-03T12:00:00'], dtype='datetime64[s]')

In [113]:
np.arange("2020-07", "2020-08", dtype='datetime64[m]')

array(['2020-07-01T00:00', '2020-07-01T00:01', '2020-07-01T00:02', ...,
       '2020-07-31T23:57', '2020-07-31T23:58', '2020-07-31T23:59'],
      dtype='datetime64[m]')

In [114]:
np.timedelta64(2, "Y")

numpy.timedelta64(2,'Y')

In [115]:
np.timedelta64(24, "h")

numpy.timedelta64(24,'h')

In [116]:
np.datetime64("2020-08-01") - np.datetime64("2020-07-22")

numpy.timedelta64(10,'D')

In [117]:
np.datetime64("2020-08-01") + np.timedelta64(10, "D")

numpy.datetime64('2020-08-11')

In [118]:
np.datetime64("2020-08-01T01:00") + np.timedelta64(10, "h")

numpy.datetime64('2020-08-01T11:00')

In [119]:
np.timedelta64(1, "W") / np.timedelta64(1, "D")

7.0

In [120]:
datetime.datetime(2020, 8, 1)

datetime.datetime(2020, 8, 1, 0, 0)

In [123]:
pd.Timestamp(year = 2020, month = 8, day = 1)

Timestamp('2020-08-01 00:00:00')

In [124]:
pd.Timestamp(2020, 8, 1)

Timestamp('2020-08-01 00:00:00')

In [125]:
pd.Timestamp("2020-8-1")

Timestamp('2020-08-01 00:00:00')

In [126]:
pd.to_datetime("2020-8-1")

Timestamp('2020-08-01 00:00:00')

In [127]:
dates = [pd.Timestamp(2020, 8, 1),
        pd.Timestamp(2020, 8, 2),
        pd.Timestamp(2020, 8, 3)]
dates

[Timestamp('2020-08-01 00:00:00'),
 Timestamp('2020-08-02 00:00:00'),
 Timestamp('2020-08-03 00:00:00')]

In [128]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2020-08-01', '2020-08-02', '2020-08-03'], dtype='datetime64[ns]', freq=None)

In [129]:
df_index = pd.date_range(start='2020-08-01',
             periods = 50,
             freq = "D")

In [130]:
df_index

DatetimeIndex(['2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04',
               '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08',
               '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20',
               '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28',
               '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07', '2020-09-08', '2020-09-09',
               '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-13',
               '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17',
               '2020-09-18', '2020-09-19'],
              dtype='datetime64[ns]', freq='D')

In [131]:
pd.DataFrame(range(50),
            index = df_index)

             0
2020-08-01   0
2020-08-02   1
2020-08-03   2
2020-08-04   3
2020-08-05   4
2020-08-06   5
2020-08-07   6
2020-08-08   7
2020-08-09   8
2020-08-10   9
2020-08-11  10
2020-08-12  11
2020-08-13  12
2020-08-14  13
2020-08-15  14
2020-08-16  15
2020-08-17  16
2020-08-18  17
2020-08-19  18
2020-08-20  19
2020-08-21  20
2020-08-22  21
2020-08-23  22
2020-08-24  23
2020-08-25  24
2020-08-26  25
2020-08-27  26
2020-08-28  27
2020-08-29  28
2020-08-30  29
2020-08-31  30
2020-09-01  31
2020-09-02  32
2020-09-03  33
2020-09-04  34
2020-09-05  35
2020-09-06  36
2020-09-07  37
2020-09-08  38
2020-09-09  39
2020-09-10  40
2020-09-11  41
2020-09-12  42
2020-09-13  43
2020-09-14  44
2020-09-15  45
2020-09-16  46
2020-09-17  47
2020-09-18  48
2020-09-19  49

In [132]:
pd.Timedelta(days = 1, seconds = 2)

Timedelta('1 days 00:00:02')

In [133]:
pd.Timedelta("1 days")

Timedelta('1 days 00:00:00')

In [134]:
pd.Timedelta("1 days 2 seconds")

Timedelta('1 days 00:00:02')

In [135]:
pd.to_timedelta("1 days 2 seconds")

Timedelta('1 days 00:00:02')

In [136]:
tdeltas = [pd.Timedelta("1 days"),
          pd.Timedelta("2 days"),
          pd.Timedelta("3 days")]
tdeltas

[Timedelta('1 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('3 days 00:00:00')]

In [137]:
pd.TimedeltaIndex(tdeltas)

TimedeltaIndex(['1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

In [138]:
tdelta_index = pd.timedelta_range("1 days", periods = 3, freq = "D")

In [139]:
tdelta_index

TimedeltaIndex(['1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq='D')

In [140]:
pd.DataFrame(["Cad1", "Cad2", "Cad3"],
            index = tdelta_index)

           0
1 days  Cad1
2 days  Cad2
3 days  Cad3

In [142]:
import datetime
import pytz
from pytz import all_timezones

In [143]:
all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [144]:
utc = pytz.utc
utc

In [145]:
buenos_aires = pytz.timezone('America/Argentina/Buenos_Aires')
buenos_aires

In [146]:
madrid = pytz.timezone('Europe/Madrid')
madrid

In [147]:
dtime1 = datetime.datetime(2020,1,25,22,10)
dtime1

datetime.datetime(2020, 1, 25, 22, 10)

In [148]:
print(dtime1)

2020-01-25 22:10:00

In [149]:
dtime1_utc = utc.localize(dtime1)
dtime1_utc

datetime.datetime(2020, 1, 25, 22, 10, tzinfo=<UTC>)

In [150]:
print(dtime1_utc)

2020-01-25 22:10:00+00:00

In [151]:
dtime1_buenosaires = buenos_aires.localize(dtime1)
dtime1_buenosaires

datetime.datetime(2020, 1, 25, 22, 10, tzinfo=<DstTzInfo 'America/Argentina/Buenos_Aires' -03-1 day, 21:00:00 STD>)

In [152]:
print(dtime1_buenosaires)

2020-01-25 22:10:00-03:00

In [153]:
dtime1_madrid = madrid.localize(dtime1)
dtime1_madrid

datetime.datetime(2020, 1, 25, 22, 10, tzinfo=<DstTzInfo 'Europe/Madrid' CET+1:00:00 STD>)

In [154]:
print(dtime1_madrid)

2020-01-25 22:10:00+01:00

In [156]:
utc_to_buenosaires = dtime1_utc.astimezone(buenos_aires)
print(utc_to_buenosaires)

2020-01-25 19:10:00-03:00

In [157]:
utc_to_buenosaires.isoformat()

'2020-01-25T19:10:00-03:00'

In [160]:
#!pip install tzlocal
from tzlocal import get_localzone

In [161]:
tz_local = get_localzone()
tz_local

zoneinfo.ZoneInfo(key='America/Buenos_Aires')

In [163]:
dtime_local = tz_local.tzname(datetime.datetime(2020,1,25,22,10))
dtime_local

'-03'

In [164]:
dtime1_buenosaires.astimezone(get_localzone())

datetime.datetime(2020, 1, 25, 22, 10, tzinfo=zoneinfo.ZoneInfo(key='America/Buenos_Aires'))

In [165]:
df = pd.DataFrame({"Col1": [1,2,3,4],
                  "Col2": [
                      datetime.datetime(2020,8,1,22,10),
                      datetime.datetime(2020,8,2,22,10),
                      datetime.datetime(2020,8,3,22,10),
                      datetime.datetime(2020,8,4,22,10),
                  ]})
df

   Col1                Col2
0     1 2020-08-01 22:10:00
1     2 2020-08-02 22:10:00
2     3 2020-08-03 22:10:00
3     4 2020-08-04 22:10:00

In [166]:
df["Col3"] = df["Col2"].apply(lambda x: pytz.timezone('America/Argentina/Buenos_Aires').localize(x))
df

   Col1                Col2                      Col3
0     1 2020-08-01 22:10:00 2020-08-01 22:10:00-03:00
1     2 2020-08-02 22:10:00 2020-08-02 22:10:00-03:00
2     3 2020-08-03 22:10:00 2020-08-03 22:10:00-03:00
3     4 2020-08-04 22:10:00 2020-08-04 22:10:00-03:00

In [167]:
df["Col4"] = df["Col2"].apply(lambda x: pytz.timezone('America/Argentina/Buenos_Aires').localize(x).isoformat())
df

,Col1,Col2,Col3,Col4
0,1,2020-08-01 22:10:00,2020-08-01 22:10:00-03:00,2020-08-01T22:10:00-03:00
1,2,2020-08-02 22:10:00,2020-08-02 22:10:00-03:00,2020-08-02T22:10:00-03:00
2,3,2020-08-03 22:10:00,2020-08-03 22:10:00-03:00,2020-08-03T22:10:00-03:00
3,4,2020-08-04 22:10:00,2020-08-04 22:10:00-03:00,2020-08-04T22:10:00-03:00